# Entorno virtual
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
media/

# Variables de entorno
.env

# Visual Studio Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db